* {
  box-sizing: border-box !important;
  color: #f2f2f2;
  font-size: 2vmin;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 8px #000000;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.badreco {
  opacity: 0.1;
}
.badreco:hover {
  opacity: 1;
}
h3 {
  font-size: 100%;
  text-align: center;
  margin: 20px auto;
  font-family: 'IBM Plex Mono', monospace;
}
.main-container {
  display: none;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.parallax-container {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  background-size: cover;
  background-position: center;
}
.parallax-container h1 {
  word-spacing: -15px;
  text-align: center;
  margin: auto;
  font-size: 400%;
  font-family: 'IBM Plex Mono', monospace;
}
#voteaverage {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
}
#ratiovote {
  height: 3px;
  margin-top: -3px;
  position: relative;
}
.content-container {
  display: block;
  box-shadow: 0px -20px 40px rgba(0, 0, 0, 0.75);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding-bottom: 20px;
}
.content-container > div {
  margin-left: 15%;
  margin-right: 15%;
}
.content-container > h3 {
  margin-left: 15%;
  margin-right: 15%;
}
.list {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  align-content: flex-start;
  height: 195px;
  padding: 10px;
  box-shadow: 0 0 10px #000;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
}
#movie-images {
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0;
}
#people-list {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-wrap: wrap;
}
.movie-poster {
  height: 175px;
  width: 120px;
  transition: 0.3s ease;
  border: solid 1px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.movie-poster:hover {
  transform: scale(1.05);
}
.movie-poster img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  vertical-align: middle;
  box-shadow: 0 0px 10px #000000;
}
.movie-image {
  margin-right: 10px;
  height: 175px;
}
.movie-image img {
  width: 100%;
  border-radius: 5px;
  transition: 0.3s ease;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0px 10px #000000;
}
.movie-image img:hover {
  transform: scale(1.05);
}
#movie-credits {
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
}
.movie-credit {
  width: 10%;
  padding: 1%;
}
.movie-credit img {
  transition: 0.3s ease;
  border-radius: 5px;
  vertical-align: middle;
  width: 100%;
  height: 66%;
  box-shadow: 0 0px 10px #000000;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.movie-credit img:hover {
  transform: scale(1.05);
}
#credit-info {
  margin-top: 5%;
}
#credit-info p {
  font-size: 75%;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  margin: 20px auto;
  font-size: 200%;
  font-family: 'IBM Plex Mono', monospace;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 125%;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid rgba(38, 40, 32, 0.3);
  text-align: left;
  padding: 8px;
  width: 100%;
}
tr:nth-child(even) {
  background-color: rgba(38, 40, 32, 0.3);
}
#movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  justify-content: space-around;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
}
#movies-content {
  margin-left: 15%;
  margin-right: 15%;
}
#movie-background img {
  object-fit: cover;
  width: 100%;
}
#movie-bar {
  display: flex;
}
#movie-image {
  width: 30%;
  padding: 2%;
}
#movie-image img {
  transition: ease 0.3s;
  width: 80%;
  border-radius: 5px;
  vertical-align: middle;
  box-shadow: 0 0px 10px #000000;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
#movie-image img:hover {
  transform: scale(1.05);
}
#movie-description {
  width: 70%;
  padding: 2%;
  text-align: justify;
}
#movie-background img {
  object-fit: cover;
  width: 100%;
}
#people-bar {
  margin-top: 15vh;
  display: flex;
}
#people-image {
  width: 30%;
  padding: 2%;
}
#people-image img {
  transition: ease 0.3s;
  width: 100%;
  border-radius: 5px;
  vertical-align: middle;
  box-shadow: 0 0px 10px #000000;
}
#people-image img:hover {
  transform: scale(1.05);
}
#people-description {
  width: 70%;
  padding: 2%;
  text-align: justify;
}
ul {
  z-index: 1;
  height: 5vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 125%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  box-shadow: 0px 0px 10px black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
}
ul li a:hover {
  background-color: rgba(38, 40, 32, 0.5);
  transform: scale(1.05);
  transition: 0.3s ease;
  cursor: pointer;
}
#spinner .sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 45vh auto;
}
#spinner .sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #f2f2f2;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
#spinner .sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#spinner .sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#spinner .sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#spinner .sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#spinner .sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#spinner .sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#spinner .sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#spinner .sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#spinner .sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
