button-component {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  user-select: none;
  outline: none;

  &.br {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
  }

  &:hover {
    cursor: pointer;
    background-color: #ec3655;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  }
}
