movie-list-component {
  .list {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 139px;
    box-shadow: 0 0 10px #000;
    flex-direction: column;
    overflow-x: scroll;
    padding: 10px;
    overflow-y: hidden;
    .ratio-vote {
      height: 4px;
      margin-top: 1px;
      margin-left: 3px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      position: relative;
    }
  }
}