@import "../../../../styles.scss";

credit-details-component {
  .details-bar {
    portrait-component {
      width: calc(370px * 2 / 3);
    }

    .description {
      width: calc(100% - (370px + 20px) * 2 / 3);
    }
  }

  .details {
    .list {
      height: $height-poster;

      portrait-component {
        width: calc(#{$height-poster} * 2 / 3);
      }
    }

    img {
      width: 100%;
    }
  }
}
