<div *ngIf="loading">
  <spinner-component></spinner-component>
</div>

<div *ngIf="!loading"
     [ngStyle]="{'background-image':'radial-gradient(transparent, #14181b), linear-gradient(transparent, #14181b), url(assets/'+background+')'}"
     class="details">
  <div class="details-content">
    <mat-icon (click)="close()"
              class="close link">close
    </mat-icon>

    <div class="details-bar">
      <portrait-component
        [image]="creditDetails.profile? 'https://image.tmdb.org/t/p/w500' + creditDetails.profile : 'no_credit'"></portrait-component>

      <div class="description">
        <div class="title-bar">
          <span class="title">{{creditDetails.name}}</span>
        </div>
        <div *ngIf="creditDetails.birthday">
          <span>Born on {{creditDetails.birthday}}</span>
          <span *ngIf="!creditDetails.deathday"> ({{creditDetails.age}} y/o)</span>
        </div>
        <div *ngIf="creditDetails.deathday">
          <span>Died on {{creditDetails.deathday}}</span>
          <span> ({{creditDetails.age}} y/o)</span>
        </div>

        <div>{{creditDetails.biography}}</div>

        <div *ngIf="creditDetails.imdbId"
             class="link ib">
          <i class="fab fa-imdb"
             style="margin-right: 5px;"></i>
          <a [href]="'https://www.imdb.com/name/'+ creditDetails.imdbId"
             class="link"
             target="_blank">Go to IMDb</a></div>
      </div>
    </div>
    <div *ngIf="creditDetails.images.length">
      <div class="sub-title">Images</div>
      <div class="list images">
        <portrait-component (click)="openNewTab(image)"
                            *ngFor="let image of creditDetails.images"
                            [image]="'https://image.tmdb.org/t/p/w780' + image">
          <i class="material-icons">launch</i>
        </portrait-component>
      </div>

      <list-component *ngIf="creditDetails.actorMovies.length"
                      [title]="'Actor movies'"
                      [type]="'movies'"
                      [itemDetails]="creditDetails"
                      [items]="creditDetails.actorMovies">
      </list-component>

      <list-component *ngIf="creditDetails.actorSeries.length"
                      [title]="'Actor series'"
                      [type]="'series'"
                      [itemDetails]="creditDetails"
                      [items]="creditDetails.actorSeries">
      </list-component>

      <list-component *ngIf="creditDetails.directorMovies.length"
                      [title]="'Director movies'"
                      [type]="'movies'"
                      [itemDetails]="creditDetails"
                      [items]="creditDetails.directorMovies">
      </list-component>


      <list-component *ngIf="creditDetails.creatorSeries.length"
                      [title]="'Creator series'"
                      [type]="'series'"
                      [itemDetails]="creditDetails"
                      [items]="creditDetails.creatorSeries">
      </list-component>

    </div>
  </div>
</div>
