<div *ngIf="loading">
  <spinner-component></spinner-component>
</div>

<div *ngIf="!loading"
     class="details">
  <div class="close-movie-details link"
       (click)="close()">
    <i class="fas fa-times"></i>
  </div>

  <div class="details-bar">
    <portrait-component [image]="credit.profile? 'https://image.tmdb.org/t/p/h632' + credit.profile : 'no_credit'"></portrait-component>

    <div class="description">
      <div class="title-bar">
        <span class="title">{{credit.name}}</span>
      </div>
      <div *ngIf="credit.birthday">
        <span>Born on {{credit.birthday}}</span>
        <span *ngIf="!credit.deathday"> ({{credit.age}} y/o)</span>
      </div>
      <div *ngIf="credit.deathday">
        <span>Died on {{credit.deathday}}</span>
        <span> ({{credit.age}} y/o)</span>
      </div>

      <div>{{credit.biography}}</div>

      <div class="link ib"
           *ngIf="credit.imdbId">
        <i class="fab fa-imdb"
           style="margin-right: 5px;"></i>
        <a class="link"
           [href]="'https://www.imdb.com/name/'+ credit.imdbId"
           target="_blank">Go to IMDb</a></div>
    </div>
  </div>
  <div *ngIf="credit.images.length">
    <div class="sub-title">Images</div>
    <div class="list">
      <div class="image"
           *ngFor="let image of credit.images">
        <a [href]="'https://image.tmdb.org/t/p/original' + image"
           target="_blank">
          <img [src]="'https://image.tmdb.org/t/p/w300' + image">
        </a>
      </div>
    </div>

    <div class="actor-movies"
         *ngIf="credit.actorMovies.length">
      <div class="sub-title">Actor movies</div>
      <div class="list">
        <portrait-component *ngFor="let actorMovie of credit.actorMovies"
                            (click)="utility.onClickMovie(actorMovie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+actorMovie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && actorMovie.seen) || (list === 'collection' && !actorMovie.seen)}">
        </portrait-component>
      </div>
    </div>

    <div *ngIf="credit.actorSeries.length">
      <div class="sub-title">Actor series</div>
      <div class="list">
        <portrait-component *ngFor="let actorSerie of credit.actorSeries"
                            (click)="utility.onClickSerie(actorSerie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+actorSerie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && actorSerie.seen) || (list === 'collection' && !actorSerie.seen)}">
        </portrait-component>
      </div>
    </div>

    <div class="director-movies"
         *ngIf="credit.directorMovies.length">
      <div class="sub-title">Director movies</div>
      <div class="list">
        <portrait-component *ngFor="let directorMovie of credit.directorMovies"
                            (click)="utility.onClickMovie(directorMovie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+directorMovie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && directorMovie.seen) || (list === 'collection' && !directorMovie.seen)}">
        </portrait-component>
      </div>
    </div>

    <div *ngIf="credit.creatorSeries.length">
      <div class="sub-title">Creator series</div>
      <div class="list">
        <portrait-component *ngFor="let creatorSerie of credit.creatorSeries"
                            (click)="utility.onClickSerie(creatorSerie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+creatorSerie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && creatorSerie.seen) || (list === 'collection' && !creatorSerie.seen)}">
        </portrait-component>
      </div>
    </div>

  </div>

</div>