<div>
  <h1>Popular Comic Series</h1>

  <div *ngIf="loading">
    <spinner-component></spinner-component>
  </div>

  <div *ngIf="!loading">

    <!-- <div class="button-group">
      <button mat-button
              *ngFor="let linkButton of linkButtons"
              [routerLink]="[linkButton.url]"
              routerLinkActive="active">
        <div>{{linkButton.title}}</div>
      </button>
    </div> -->

    <div *ngIf="list === 'popular'"
         class="grid">
      <portrait-component (click)="onClickComic(serie)"
                          *ngFor="let serie of series"
                          [image]="'https://www.bedetheque.com/media/Couvertures/'+serie.serieCover"
                          [ngStyle]="{'width': 'calc('+serie.serieCoverWidth/serie.serieCoverHeight+'*250px)'}">
        <div class="title-portrait">{{serie.serieTitle}}</div>
        <div>{{serie.numberOfAlbums}} album(s)</div>
        <rating-component [voteAverage]="serie.voteAverage"
                          [voteCount]="serie.voteCount"
                          [voteMax]="100"></rating-component>
      </portrait-component>

    </div>

  </div>
</div>
