<div>
  <h1>Most Popular Albums</h1>

  <div *ngIf="loading">
    <spinner-component></spinner-component>
  </div>

  <div *ngIf="!loading">

    <div *ngIf="comics"
         class="grid">
      <portrait-component *ngFor="let comic of comics"
                          [image]="'https://www.bedetheque.com/cache/thb_couv/'+comic.imageCover"
                          (click)="onClickComic(comic)">

        <div>{{comic.albumTitle}}</div>
        <div>{{comic.date}}</div>
        <rating-component [voteAverage]="comic.voteAverage"
                          [voteCount]="comic.voteCount"
                          [voteMax]="100"></rating-component>
      </portrait-component>

    </div>

  </div>
</div>
