<div class="movies-component">
  <div ng-if="!$ctrl.showMovieDetails">
    <h1>Discover</h1>
    <h1>{{$ctrl.movies.length}} movies</h1>
    <div class="movies">
      <div class="movie-poster"
           ng-repeat="movie in $ctrl.movies"
           ng-click="$ctrl.onClickPoster(movie)">
        <img ng-src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}">
      </div>
    </div>
  </div>

  <div ng-if="$ctrl.showMovieDetails">
    <movie-component movie="$ctrl.movieDetails">
    </movie-component>
  </div>
</div>