{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "globals": {
    "angular": true,
    "_": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "no-underscore-dangle": "off"
  }
}