{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "semi": "error",
    "prefer-arrow-callback": "error",
    "prefer-template": "error"
  }
}