
* {
    box-sizing:border-box !important;
    color: white;
    font-size: 2vmin;
    
    top: 0; bottom:0; left: 0; right: 0;  padding: 0;
    margin: 0;
    text-shadow: 2px 2px 8px #000000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#divCollection{
    display: flex;
    flex-wrap: wrap;
}

#divCollection img:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    
}

#divDescription{
    width:30%;
    text-align: center;
}
#divDescription img{
    width:95%;
    margin:1%;
    
}

#divParts{
    width:70%;
    margin-top: 4%;
}
#divParts img{
    width:20%;
    margin:1%;
}

#divCast{

    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
#divCast #cast{

    width: 10%;
    
    text-align: center;
}

#divCast #cast img{
    width: 90%;

}
#divCrew{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#divCrew #crew{

    width: 10%;
    text-align: center;

}

#divCrew #crew img{

    width: 90%;

}

table {
    
    border-collapse: collapse;
    width: 100%;
    
}

td, th {
    border: 1px solid rgba(38,40, 32, 0.3);
    text-align: left;
    padding: 8px;
    width:100%;
}

tr:nth-child(even) {
    background-color: rgba(38,40, 32, 0.3);
}

h1{
    font-size: 200%;
   
}
h2{
    font-size: 150%;
    margin-bottom: 5%;
   
}
iframe{
    text-align: center
}
#MovieBar{
    
    display: flex;
    
}

#movieImg{
    margin: 2%;
   width:30%;

}

#movieDesc{
    margin: 2%;
    width:70%;
    text-align: justify;
 
 }

 #movieDesc p{
    margin-bottom: 2%;
    width:100%;
    text-align: justify;
 
 }

#movieImg img{
    width: 100%;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.4);
    
}

#artistBar{
    
    height: 50vh;
    
}

.viewed{
    
    filter: blur(10px);
    transition: .3s ease;
    
}
.animate img
{
   
    transition: width 1s ease;
    width:0% !important;
    
}

.blur{
   
    position:absolute;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 50vh;
    background: linear-gradient(to bottom, rgba(38,40, 32, 0),rgba(38,40, 32, 1));
    
}

#row {
    
    display: flex;
    flex-wrap: wrap;
    
}

#column {
    
    flex:auto;
    max-width: 14.28%;
    
} 

#column div{
    transition: all .3s ease;
    
}

#column div:hover {
    
    transform: scale(1.05);
    
  }

#column img {
    
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
    width:95%;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.4)

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 125%;
    background-color: rgba(38,40, 32, 0.3);
    background-size: cover;
    border-bottom: 1px solid black;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(38,40, 32, 0.5);
    transform: scale(1.2);
    transition: 0.3s ease;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #column{ 
        flex:auto;
        max-width: 25%;
    }
}

@media only screen and (max-width: 600px) {
    #column{ 
        flex:auto;
        max-width: 33%;
    }
}

@media only screen and (max-width: 400px) {
    #column{ 
        flex:auto;
        max-width: 50%;
    }
}

@media only screen and (max-width: 200px) {
    #column{ 
        flex:auto;
        max-width: 100%;
    }
}