
* {
    box-sizing:border-box !important;
    color: white;
    font-size: 2vmin;
    
    top: 0; bottom:0; left: 0; right: 0;  padding: 0;
    margin: 0;
    text-shadow: 2px 2px 8px #000000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}


#divCrew #crew img{

    width: 90%;

}

table {
    
    border-collapse: collapse;
    width: 100%;
    
}

td, th {
    border: 1px solid rgba(38,40, 32, 0.3);
    text-align: left;
    padding: 8px;
    width:100%;
}

tr:nth-child(even) {
    background-color: rgba(38,40, 32, 0.3);
}

.viewed{
    
    filter: blur(10px);
    transition: .3s ease;
    
}
.animate img
{
  width:0% !important;
    
    
}

.blur{
   
    position:absolute;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 50vh;
    background: linear-gradient(to bottom, rgba(38,40, 32, 0),rgba(38,40, 32, 1));
    
}

#row {
    
    display: flex;
    flex-wrap: wrap;
    
}

#column {
    
    flex:auto;
    max-width: 11.111111%;
    
    
} 

#column div{
    transition: all .3s ease;
    padding:4%;
    align-items: stretch;
    
    
}

#column div:hover {
    
    transform: scale(1.05);
    
    
  }

#column img {
  
    transition: width 0.3s ease;
    border-radius: 5px;
    vertical-align: middle;
    width:100%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1)

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 125%;
    background-color: rgba(38,40, 32, 0.3);
    background-size: cover;
    border-bottom: 1px solid black;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(38,40, 32, 0.5);
    transform: scale(1.05);
    transition: 0.3s ease;
    cursor: pointer;
}

