
* {
    box-sizing:border-box !important;
    color: white;
    font-size: 2vmin;
    
    top: 0; bottom:0; left: 0; right: 0;  padding: 0;
    margin: 0;
    text-shadow: 2px 2px 8px #000000;
    font-family:'Roboto', sans-serif;
}

.badreco{
  opacity: 0.25;
}
h3{
  margin-top: 2%;
  padding-left: 2%;
  font-size: 75%;
}

.main-container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.parallax-container {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.parallax-container h1{
  word-spacing: -15px;
  text-align: center;
  margin: auto;
  font-size: 400%;
  font-family: 'IBM Plex Mono', monospace;
}


.content-container {
  display: block;
  position: relative;
  background-color: rgba(20, 24, 28,1);
  z-index: 1;
}

#movie-details-panel > div{
  
  margin-left: 15%;
  margin-right: 15%;
}
#movie-details-panel > h3{
  
  margin-left: 15%;
  margin-right: 15%;
}

#movie-recommendations{
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-wrap: wrap;
}

.movie-reco{
  padding:1%;
  width:11.11%;
}

.movie-reco img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 5px;
  transition:  0.3s ease;
  vertical-align: middle;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
}

.movie-reco img:hover{
  transform: scale(1.05);
}

#movie-collection{
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-wrap: wrap;
}





#movie-images{
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
}

.movie-image{
  padding:1%;
}

.movie-image img{
  width:100%;
  border-radius: 5px;
  transition:  0.3s ease;
  vertical-align: middle;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
}

.movie-image img:hover{
  transform: scale(1.05);
}

#movie-credits{
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
}

.movie-credit{
  width:10%;
  padding:1%;
}
#credit-info {
  margin-top: 5%;
}

#credit-info p{
  font-size: 75%;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
}

.movie-credit img{
  transition:  0.3s ease;
  border-radius: 5px;
  vertical-align: middle;
  width:100%;
  height:66%;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
  object-fit: cover;
}

.movie-credit img:hover{
  transform: scale(1.05);
}
h1{
  text-align: center;
  margin: auto;
  font-size: 200%;
  font-family: 'IBM Plex Mono', monospace;
}
h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 125%
}

table {
    
    border-collapse: collapse;
    width: 100%;
    
}

td, th {
    border: 1px solid rgba(38,40, 32, 0.3);
    text-align: left;
    padding: 8px;
    width:100%;
}

tr:nth-child(even) {
    background-color: rgba(38,40, 32, 0.3);
}

.viewed{
    
    filter: blur(10px);
    transition: .3s ease;
    
}
.animate img
{
  width:0% !important;
}


#movies {   
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
} 

.container{
    width: 9.09%;
    transition: all .3s ease;
    padding:0.4%;
    align-items: stretch;
}

.container img:hover {
    transform: scale(1.05); 
}

.container img {
  
    transition: 0.3s ease;
    border-radius: 5px;
    vertical-align: middle;
    height:100%;
    width:100%;
    object-fit: cover;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1)

}

#movie-background img{
    object-fit: cover;
    width: 100%;
}

#movie-bar{
  margin-top: 15vh;
  display:flex;
}
#movie-image{
  width:30%;
  padding:2%;
}
#movie-image img{
  transition: ease 0.3s;
  width:100%;
  border-radius: 5px;
  vertical-align: middle;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1)
}

#movie-image img:hover{
  
  transform: scale(1.05);
}
#movie-description{
  width:70%;
  padding:2%;
  text-align: justify;
}

ul {
  
    height: 5vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 125%;
    background-color: rgba(0, 0, 0, 0.5);
   
    background-size: cover;
    
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
    text-transform: uppercase;
    

    
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
}

li a:hover {
    background-color: rgba(38,40, 32, 0.5);
    transform: scale(1.05);
    transition: 0.3s ease;
    cursor: pointer;
}

