<div *ngIf="loading">
  <spinner-component></spinner-component>
</div>

<div *ngIf="!loading"
     [ngStyle]="{'background-image':'radial-gradient(transparent, #14181b), linear-gradient(transparent, #14181b), url(assets/'+background+')'}"
     class="details">

  <div class="details-content">

    <mat-icon (click)="onCloseAuthor()"
              class="close link">close
    </mat-icon>

    <div class="details-bar">
      <portrait-component
        [image]="author.image ? 'https://www.bedetheque.com/media/Photos/' + author.image : null"
        [ngStyle]="{'width': 'calc('+author.imageWidth/author.imageHeight+'*370px)', 'height':'370px'}"></portrait-component>
      <div class="description">
        <div class="title-bar">
          <span class="title">{{author.name}}</span>
        </div>
        <div *ngIf="author.birthDate">
          <span>Born on {{author.birthDate}}</span>
        </div>
        <div *ngIf="author.deathDate">
          <span>Died on {{author.deathDate}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="author.seriesBoth.length">
      <div class="sub-title">Scenario and Drawing series</div>
      <div class="list">
        <portrait-component (click)="onClickComic(serie.serieId)"
                            *ngFor="let serie of author.seriesBoth"
                            [image]="serie.serieCover? 'https://www.bedetheque.com/media/Couvertures/'+serie.serieCover: ''"
                            [ngStyle]="{'width': 'calc('+serie.serieCoverWidth/serie.serieCoverHeight+'*250px)'}">
          <div class="title-portrait">{{serie.serieTitle}}</div>
          <div>{{serie.numberOfAlbums}} album(s)</div>
          <rating-component [voteAverage]="serie.voteAverage"
                            [voteCount]="serie.voteCount"
                            [voteMax]="100"></rating-component>
        </portrait-component>
      </div>
    </div>

    <div *ngIf="author.seriesScenario.length">
      <div class="sub-title">Scenario only series</div>
      <div class="list">
        <portrait-component (click)="onClickComic(serie.serieId)"
                            *ngFor="let serie of author.seriesScenario"
                            [image]="serie.serieCover? 'https://www.bedetheque.com/media/Couvertures/'+serie.serieCover: ''"
                            [ngStyle]="{'width': 'calc('+serie.serieCoverWidth/serie.serieCoverHeight+'*250px)'}">
          <div class="title-portrait">{{serie.serieTitle}}</div>
          <div>{{serie.numberOfAlbums}} album(s)</div>
          <rating-component [voteAverage]="serie.voteAverage"
                            [voteCount]="serie.voteCount"
                            [voteMax]="100"></rating-component>
        </portrait-component>
      </div>
    </div>

    <div *ngIf="author.seriesDrawing.length">
      <div class="sub-title">Drawing only series</div>
      <div class="list">
        <portrait-component (click)="onClickComic(serie.serieId)"
                            *ngFor="let serie of author.seriesDrawing"
                            [image]="serie.serieCover? 'https://www.bedetheque.com/media/Couvertures/'+serie.serieCover: ''"
                            [ngStyle]="{'width': 'calc('+serie.serieCoverWidth/serie.serieCoverHeight+'*250px)'}">
          <div class="title-portrait">{{serie.serieTitle}}</div>
          <div>{{serie.numberOfAlbums}} album(s)</div>
          <rating-component [voteAverage]="serie.voteAverage"
                            [voteCount]="serie.voteCount"
                            [voteMax]="100"></rating-component>
        </portrait-component>
      </div>
    </div>

  </div>

</div>
