<div *ngIf="loading">
  <spinner-component></spinner-component>
</div>
<div *ngIf="!loading"
     [ngStyle]="{'background-image':'radial-gradient(transparent, #14181b), linear-gradient(transparent, #14181b), url('+'https://image.tmdb.org/t/p/w1280' + serieDetails.backdrop+')'}"
     class="details">
  <div class="details-content">
    <mat-icon (click)="close()"
              class="close link">close
    </mat-icon>

    <div class="details-bar">
      <portrait-component [image]="'https://image.tmdb.org/t/p/w500' + serieDetails.poster"></portrait-component>
      <div class="description">
        <div class="title-bar">
          <span class="title">{{serieDetails.title}}</span>
          <span class="release-date "> {{serieDetails.releaseYear}} </span>
          <span *ngIf="serieDetails.title !== serieDetails.originalTitle"
                class="original-title"> '{{serieDetails.originalTitle}}' </span>
          <span *ngIf="serieDetails.creator">
            <span>Created by </span>
            <span (click)="utility.onClickCredit(serieDetails.creator)"
                  class="link underline"
                  style="margin-right:5px;">{{serieDetails.creator!.name}}</span></span>

        </div>
        <div>{{serieDetails.releaseDate | date : 'MMMM d, y'}}</div>
        <div>{{serieDetails.overview}}</div>
        <div *ngIf="serieDetails.trailer"
             class="link ib">
          <i class="fab fa-youtube"
             style="margin-right: 5px;"></i>
          <a [href]="serieDetails.trailer"
             class="link"
             target="_blank">Watch trailer</a></div>

        <rating-component [voteAverage]="serieDetails.voteAverage"
                          [voteCount]="serieDetails.voteCount"
                          [voteMax]="10"></rating-component>

      </div>
    </div>
    <div>
      <div class="sub-title">Casting</div>
      <div *ngIf="serieDetails.credits"
           class="list credits">
        <portrait-component (click)="utility.onClickCredit(credit)"
                            *ngFor="let credit of serieDetails.credits"
                            [image]="credit.profile? 'https://image.tmdb.org/t/p/w342' + credit.profile : 'no_credit'">
          <div class="title-portrait">{{credit.name}}</div>
          <div>{{credit.role}}</div>

        </portrait-component>
      </div>
      <div *ngIf="serieDetails.images.length">
        <div class="sub-title">Images</div>
        <div class="list images">
          <portrait-component (click)="openNewTab(image)"
                              *ngFor="let image of serieDetails.images"
                              [image]="'https://image.tmdb.org/t/p/w780' + image">
            <i class="material-icons">launch</i>
          </portrait-component>
        </div>

      </div>
      <div *ngIf="serieDetails.seasons.length">
        <div class="sub-title">Season(s)</div>
        <div class="list">
          <portrait-component (click)="onClickSeason(season, $event)"
                              *ngFor="let season of serieDetails.seasons"
                              [image]="season.poster?'https://image.tmdb.org/t/p/w342'+season.poster:null">
            <div class="title-portrait">{{season.name}}</div>
            <div>{{season.releaseDate | date : 'y'}}</div>
            <div class="title-portrait">{{season.episodeCount}} episodes</div>
          </portrait-component>
        </div>
      </div>
      <div *ngIf="serieDetails.recoSeries.length"
           class="reco-movies">
        <div class="sub-title">Similar series</div>
        <div class="list">
          <portrait-component (click)="utility.onClickSerieDetails(serie,serieDetails, $event)"
                              *ngFor="let serie of serieDetails.recoSeries"
                              [image]="'https://image.tmdb.org/t/p/w342'+serie.poster"
                              [ngClass]="{'seen' : (list !== 'collection' && serie.seen) || (list === 'collection' && !serie.seen)}">
            <div class="title-portrait">{{serie.title}}</div>
            <div>{{serie.releaseYear}}</div>
            <rating-component [voteAverage]="serie.voteAverage"
                              [voteCount]="serie.voteCount"
                              [voteMax]="10"></rating-component>
          </portrait-component>
        </div>
      </div>
    </div>
  </div>
</div>
