<div id="movies" style="opacity:0;">
  {{#each items}}
  <div class="id-{{this.id}} movie-poster {{this.seen}}">
    <img src="https://image.tmdb.org/t/p/w185{{this.poster_path}}">
  </div>
  {{/ each}}
</div>