<div id="people-details" class="main-container">
  <div id="people-background" class="parallax-container">
    <h1 id="people-title">{{people.name}}</h1>
  </div>
  <div id="people-details-panel" class="content-container">
    <h1 id="people-title">{{people.name}}</h1>
  </div>
</div>