art-component {
  .close {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .test2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .test {
      max-width: 80vw;
      max-height: 80vh;
      margin-bottom: 10px;
      margin-right: 10px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    }
  }
  .artist-info {
    display: flex;
    margin-bottom: 20px;
    img {
      max-height: 200px;
      max-width: 300px;
    }
    .additional-info {
      margin-left: 20px;
      h1 {
        margin-top: 0;
      }
    }
  }
}