art-component {
  .portrait-grid {
    portrait-component {
      width: initial;
      height: initial;
      &:hover {
        transform: scale(1.025);
      }
      img {
        height: 150px;
        width: initial;
      }
    }
  }
  .close {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .test2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .test {
      max-width: 80vw;
      max-height: 80vh;
      margin-bottom: 10px;
      margin-right: 10px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    }
  }
  .artist-info {
    display: flex;
    margin-bottom: 20px;
    .artist-image {
      width: 250px;
      img {
        width: 100%;
      }
    }
    .additional-info {
      margin-left: 20px;
      h1 {
        margin-top: 0;
      }
    }
  }
}