<div *ngIf="loading">
  <spinner-component></spinner-component>
</div>
<div *ngIf="!loading">

  <div *ngIf="tabSelected==='discover'">
    <h1>Discover Paintings</h1>
    <portraits-component [portraits]="paintings"></portraits-component>
  </div>

  <div *ngIf="tabSelected==='artists'">
    <h1>Discover Artists</h1>
    <portraits-component [portraits]="artists"></portraits-component>
  </div>

  <div *ngIf="tabSelected==='artist-details'">
    <h1>{{artistDetails.artistName}}</h1>

    <div>
      <img [src]="artistDetails.image + '!Portrait.jpg'">
      <div>{{artistDetails.biography}}</div>
    </div>
    <portraits-component [portraits]="artistDetails.paintings"></portraits-component>
  </div>

  <div class="modal"
       *ngIf="showPopup">

    <span class="close link"
          (click)="showPopup = false">×</span>
    <span class="next link"
          (click)="popupChangePainting(1)">&gt;</span>
    <span class="previous link"
          (click)="popupChangePainting(-1)">&lt;</span>

    <div *ngIf="popupLoading">
      <spinner-component></spinner-component>

    </div>

    <div [hidden]="popupLoading"
         class="loading-wrapper">
      <div class="loading-img">
        <img class="modal-content"
             [src]="popupPainting.image"
             (load)="onImageLoad()">

      </div>
    </div>

    <div class="info">
      <div [innerHtml]="popupPainting.title"></div>
      <div class="link"
           [innerHtml]="popupPainting.artistName"
           (click)="onClickArtist(popupPainting.artistUrl)"></div>
      <div [innerHtml]="popupPainting.year"></div>
    </div>

  </div>
</div>