art-component {
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    .close {
      position: absolute;
      top: 40px;
      right: 20px;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
    .previous {
      position: absolute;
      top: 50%;
      left: 20px;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
    .next {
      position: absolute;
      top: 50%;
      right: 20px;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
    .loading-wrapper {
      height: 100%;
      width: 100%;
      .loading-img {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-content {
          margin: auto;
          display: block;
          max-width: calc(100% - 150px);
          height: calc(100% - 150px);
        }
      }
    }
    .info {
      position: absolute;
      bottom: 10px;
      right: 0;
      left: 0;
      text-align: center;
    }
  }
}