<search-component (onActivity)="checkActivity($event)"
                  [placeholder]="'Search TV Series...'"
                  [type]="'series'"></search-component>

<div *ngIf="!isSearching">

  <div *ngIf="loading">
    <spinner-component></spinner-component>
  </div>

  <h1 *ngIf="list==='popular'">Popular Series </h1>
  <h1 *ngIf="list==='top_rated'">Top Rated Series</h1>
  <h1 *ngIf="list==='collection'">Collection Series</h1>

  <div class="button-group">
    <button *ngFor="let linkButton of linkButtons"
            [routerLink]="[linkButton.url]"
            mat-button
            routerLinkActive="active">
      <div>{{linkButton.title}}</div>
    </button>
  </div>

  <div (matSortChange)="sort($event)"
       class="button-group"
       matSort
       style="float: right">

    <button *ngFor="let sortButton of sortButtons"
            [ngClass]="{'active': sortActive === sortButton.key}"
            class="sort-button"
            mat-button>
      <span mat-sort-header="{{sortButton.key}}">{{sortButton.title}}</span>
    </button>

  </div>

  <div *ngIf="!loading">

    <h3 *ngIf="list==='collection'">{{series.length}} serie(s) seen</h3>

    <div *ngIf="list === 'collection' && series.length < 10"
         class="instructions">
      Discover or Search TV Series and Cmd+Click or Ctrl+Click on a poster to add it to the collection.
    </div>

    <div *ngIf="series"
         class="grid">
      <portrait-component (click)="utility.onClickSerie(serie, $event)"
                          *ngFor="let serie of sortedSeries"
                          [image]="'https://image.tmdb.org/t/p/w342'+serie.poster"
                          [ngClass]="{'seen' : (list !== 'collection' && serie.seen) || (list === 'collection' && !serie.seen)}">
        <div class="title-portrait">{{serie.title}}</div>
        <div>{{serie.releaseYear}}</div>
        <rating-component [voteAverage]="serie.voteAverage"
                          [voteCount]="serie.voteCount"
                          [voteMax]="10"></rating-component>
      </portrait-component>

    </div>

  </div>

</div>
