<div *ngIf="loading">
  <spinner-component></spinner-component>
</div>

<div *ngIf="!loading"
     [ngStyle]="{'background-image':'radial-gradient(transparent, #14181b), linear-gradient(transparent, #14181b), url(assets/'+background+')'}"
     class="details">
  <div class="details-content">
    <mat-icon (click)="onCloseArtist()"
              class="close link">close
    </mat-icon>

    <div class="details-bar">
      <portrait-component [image]="artist.image"></portrait-component>
      <div class="description">
        <div class="title-bar">
          <span class="title">{{artist.artistName}}</span>
          <span class="release-date"> {{artist.birthDate}}</span>
          <span *ngIf="artist.deathDate"
                class="release-date"> - {{artist.deathDate}} </span>
        </div>

        <div>
          <a [href]="artist.wikipediaUrl"
             class="link"
             target="_blank"><i class="fab fa-wikipedia-w"
                                style="margin-right:5px;"></i>Go to Wikipedia</a>
        </div>

      </div>
    </div>
    <div class="grid portrait-grid">
      <portrait-component (click)="onClickPortrait(painting,$event)"
                          *ngFor="let painting of paintings"
                          [image]="painting.imageLQ"
                          [ngClass]="{'seen': painting.seen}">
        <div>{{painting.year}}</div>
        <div class="title-portrait">{{painting.title}}</div>
      </portrait-component>
    </div>
  </div>
</div>

<popup-art-component (onClose)="popupPainting=null"
                     *ngIf="popupPainting"
                     [painting]="popupPainting"
                     [paintings]="artist.paintings"></popup-art-component>
