artist-details-component {
  .portrait-grid {
    portrait-component {
      width: initial;
      height: initial;
      &:hover {
        transform: scale(1.025);
      }
      img {
        height: 150px;
        width: initial;
      }
    }
  }
  .close {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
}
