artist-details-component {
  .portrait-grid {
    portrait-component {
      width: initial;
      height: initial;

      img {
        height: 150px;
        width: initial;
        max-width: 400px;
      }
    }
  }

  .close {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
}
