<span class="close link"
      (click)="onClose.emit()">×</span>
<span class="next link"
      (click)="changePainting(1)">
  <i class="fas fa-caret-right"></i>
</span>
<span class="previous link"
      (click)="changePainting(-1)">
  <i class="fas fa-caret-left"></i>
</span>

<div class="loading-wrapper"
     *ngIf="loading">
  <div class="loading-img">
    <img class="modal-content"
         [src]="painting.image + '!PinterestSmall.' + painting.extension"
         style="filter: blur(10px);"
         height="100%">

  </div>
</div>

<div class="loading-wrapper"
     [hidden]="loading">
  <div class="loading-img">

    <img class="modal-content"
         [src]="painting.image "
         (load)="onImageLoad()">

    <div class="message fs-20 police-title"
         *ngIf="message">{{message}}</div>

  </div>
</div>

<div class="info">
  <div [innerHtml]="painting.title"></div>
  <div class="link"
       [innerHtml]="painting.artistName"
       (click)="onClickArtist(painting.artistUrl)"></div>
  <div [innerHtml]="painting.year"></div>
</div>