<mat-icon (click)="onClose.emit()"
          class="close link">close
</mat-icon>

<mat-icon (click)="changePainting(-1)"
          class="previous link">arrow_back
</mat-icon>

<mat-icon (click)="changePainting(1)"
          class="next link">arrow_forward
</mat-icon>

<div *ngIf="loading"
     class="loading-wrapper">
  <div class="loading-img">
    <img [src]="painting.image + '!Blog.' + painting.extension"
         class="modal-content"
         height="{{painting.height}}"
         style="filter: blur(10px);">

  </div>
</div>

<div [hidden]="loading"
     class="loading-wrapper">
  <div class="loading-img">

    <img (load)="onImageLoad()"
         [src]="painting.image "
         class="modal-content">

    <div *ngIf="message"
         class="message fs-20 police-title">{{message}}</div>

  </div>
</div>

<div class="info">
  <div [innerHtml]="painting.title"></div>
  <div (click)="onClickArtist(painting.artistUrl)"
       [innerHtml]="painting.artistName"
       class="link"
       style="text-decoration: underline;"></div>
  <div [innerHtml]="painting.year"></div>
</div>
