<mat-icon class="close link"
          (click)="onClose.emit()">close</mat-icon>

<mat-icon class="previous link"
          (click)="changePainting(-1)">arrow_back</mat-icon>

<mat-icon class="next link"
          (click)="changePainting(1)">arrow_forward</mat-icon>

<div class="loading-wrapper"
     *ngIf="loading">
  <div class="loading-img">
    <img class="modal-content"
         [src]="painting.image + '!Blog.' + painting.extension"
         style="filter: blur(10px);"
         height="{{painting.height}}">

  </div>
</div>

<div class="loading-wrapper"
     [hidden]="loading">
  <div class="loading-img">

    <img class="modal-content"
         [src]="painting.image "
         (load)="onImageLoad()">

    <div class="message fs-20 police-title"
         *ngIf="message">{{message}}</div>

  </div>
</div>

<div class="info">
  <div [innerHtml]="painting.title"></div>
  <div class="link"
       [innerHtml]="painting.artistName"
       (click)="onClickArtist(painting.artistUrl)"></div>
  <div [innerHtml]="painting.year"></div>
</div>
