<div class="nav-placeholder">
  <div class="navigation-bar">
    <a class="ib tab"
       [routerLink]="['/movies']"
       routerLinkActive="link-active">Movies</a>
    <a class="ib tab"
       [routerLink]="['/series']"
       routerLinkActive="link-active">TV Series</a>
    <a class="ib tab"
       [routerLink]="['/comics']"
       routerLinkActive="link-active">Comics</a>
    <a class="ib tab"
       [routerLink]="['/art']"
       routerLinkActive="link-active">Art</a>
  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
