app-component {
  .navigation-bar {
    z-index: 10;
    top: 0px;
    right: 0px;
    left: 0px;
    position: fixed;
    border-bottom: 1px solid;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    &.sub {
      top: 30px;
      height: 20px;
      border-bottom: 1px solid;
      div {
        padding: 0 8px;
        font-size: 12px;
      }
    }
  }
  .main-content {
    position: relative;
    padding: 0 5%;
    margin-top: 50px;
    &::before {
      z-index: -1;
      content: ' ';
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url(../assets/bg.jpg);
      background-position: center center;
      background-size: cover;
      will-change: transform;
      transition: 1s ease;
      transform: scale(1.1);
    }
    .close-movie-details {
      float: right;
      margin-top: 20px;
      font-size: 20px;
    }
  }
}