app-component {

  h1,
  h2,
  h3 {
    text-align: center;
    font-family: "Oswald", sans-serif;
  }

  h1 {
    font-size: 40px;
    font-weight: 600;
  }

  .underline {
    text-decoration: underline;
  }

  .bold {
    font-weight: 800;
  }

  .main-content {
    position: relative;
    padding: 50px;
    padding-top: 62px;

    mat-icon {
      font-weight: bold;
      transition: color 0.3s ease-out
    }

    .close {
      float: right;
    }

    .instructions {
      margin: 20px;
      text-align: center;
    }

    .loading-add {
      position: relative;
      height: 150px;
    }

    .grid {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: -10px;
      margin-left: 10px;

      rating-component {
        span {
          display: none;
        }
      }
    }

  }

  .details {
    height: calc(100vh - 52px);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    margin: -10px -50px 0 -50px;

    .details-content {
      padding: 50px;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.1);
      height: 175px;

      box-shadow: 0 0 10px #000;
      flex-direction: column;
      overflow-x: scroll;
      padding: 10px;
      overflow-y: hidden;
      align-content: baseline;

      portrait-component {
        height: 100%;

        &:last-child {
          padding-right: 10px;
        }
      }

      rating-component {
        span {
          display: none;
        }
      }
    }

    .sub-title {
      text-align: center;
      margin: 20px 20px 10px;
      font-family: "Oswald", sans-serif;
    }

    .details-bar {
      display: flex;

      portrait-component {
        height: 370px;
      }

      .description {
        .title-bar {
          font-size: 20px;

          .title {
            font-family: "Oswald", sans-serif;
            font-size: 40px;
            font-weight: 600;
          }

          .original-title {
            margin-right: 7px;
            font-weight: 400;
            letter-spacing: 0;
            font-style: italic;
          }

        }

        div {
          margin: 10px;
        }
      }
    }
  }
}
