app-component {
  h1 {
    text-align: center;
  }
  .navigation-bar {
    z-index: 10;
    top: 0px;
    right: 0px;
    left: 0px;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    &.sub {
      top: 30px;
      height: 20px;
      border-bottom: 1px solid;
      div {
        padding: 0 8px;
        font-size: 12px;
      }
    }
  }
  .main-content {
    position: relative;
    padding: 10px 10%;
    padding-top: 50px;
    &::before {
      z-index: -1;
      content: ' ';
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: black;
      filter: blur(10px);
      background-image: url(../assets/bg.jpg);
      background-position: center center;
      background-size: cover;
      will-change: transform;
      transition: 1s ease;
      transform: scale(1.1);
    }
    .close-movie-details {
      float: right;
      margin-top: 20px;
      font-size: 20px;
    }
    .grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: -10px;
      margin-left: 10px;
    }
    .buttons {
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.75);
      background-color: rgba(255, 255, 255, 0.1);
      display: inline-block;
      border-radius: 4px;
      overflow: hidden;
    }
  }
}