<div class="movie-list-component">
  <div class="list-title">{{$ctrl.listName}}</div>

  <div class="list">
    <div class="movie-poster"
         ng-class="{'movie-seen' : movie.seen}"
         ng-repeat="movie in $ctrl.movieList"
         ng-click="$ctrl.onClickPoster(movie, $event)">
      <img ng-src="https://image.tmdb.org/t/p/w185{{movie.poster}}">
      <div class="ratio-vote"
           ng-style="{width: movie.voteWidth+'%', background: movie.voteColor}">
      </div>
    </div>
  </div>
</div>