@import '../../../../styles.scss';

portrait-component {
  margin: 0 20px 20px 0;
  transition: 0.3s all ease;

  &.seen {
    opacity: 0.1;

    &:hover {
      opacity: 0.5;
    }
  }

  .portrait {
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px #000000;
    transition: 0.3s all ease;
    position: relative;

    .image-container {
      height: 100%;
      line-height: 0;
    }

    .image-title {
      opacity: 0;
      display: flex;
      position: absolute;
      top: 0;
      padding: 10px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.75);
      font-size: 12px;
      transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1);

      .content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title-portrait {
          font-family: $font-secondary;
          font-size: 16px;
        }
      }

      &.empty {
        opacity: 1;
        cursor: default;
        background-color: initial;

      }

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      cursor: pointer;
    }

    img {
      height: 100%;
    }
  }
}
