portrait-component {
  width: 100px;
  height: 150px;
  margin: 0 10px 10px 0;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px black;
  transition: 0.3s all ease;
  .image-container {
    line-height: 0;
  }
  .image-title {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    font-size: 15px;
    height: 25px;
    div {
      max-width: calc(100% - 10px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: absolute;
      bottom: 0;
      padding: 5px;
    }
  }
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}