portrait-component {
  width: 100px;
  height: 150px;
  padding: 0 10px 10px 0;
  transition: 0.3s all ease;
  &.seen {
    opacity: 0.1;
    &:hover {
      opacity: 0.5;
    }
  }
  .portrait {
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    transition: 0.3s all ease;

    .image-container {
      height: 100%;
      line-height: 0;
    }
    .image-title {
      display: none;
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      font-size: 11px;
      &:hover {
        display: block;
      }
      div {
        position: absolute;
        bottom: 0;
        padding: 5px;
        width: calc(100% - 10px);
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        &.top {
          bottom: initial;
          top: 0;
        }
      }
    }

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
