<div *ngIf="loading">
  <spinner-component></spinner-component>
</div>

<div *ngIf="!loading"
     class="details">
  <div class="close-movie-details link"
       (click)="onCloseComic()">
    <i class="fas fa-times"></i>
  </div>

  <div class="details-bar">
    <portrait-component [image]="'https://www.bedetheque.com/media/Couvertures/' + serie.albums[0].imageCover"></portrait-component>
    <div class="description">
      <div class="title-bar">
        <div>
          <span class="title">{{serie.serieTitle}}</span>
        </div>
        <rating-component [voteAverage]="serie.voteAverage"
                          [voteCount]="serie.voteCount"
                          [voteMax]="100">
        </rating-component>
      </div>
    </div>
  </div>
  <div class="albums">
    <comic-album-component *ngFor="let album of serie.albums"
                           [album]="album"
                           id="{{album.albumId}}">
    </comic-album-component>

  </div>
</div>
