<div *ngIf="loading">
  <spinner-component></spinner-component>
</div>

<div *ngIf="!loading">
  <div class="close-movie-details link"
       (click)="close()">
    <i class="fas fa-times"></i>
  </div>

  <div class="movie-bar">
    <div class="profile">
      <img [src]="'https://image.tmdb.org/t/p/original'+credit.profile">
    </div>

    <div class="movie-description">
      <div class="title-bar">
        <span class="title">{{credit.name}}</span>
      </div>

      <div>{{credit.birthday}}</div>
      <div>{{credit.deathday}}</div>
      <div>{{credit.biography}}</div>
    </div>
  </div>
  <div>
    <div class="sub-title">Images</div>
    <div class="list">
      <div class="movie-image"
           *ngFor="let image of credit.images">
        <a [href]="'https://image.tmdb.org/t/p/original' + image"
           target="_blank">
          <img [src]="'https://image.tmdb.org/t/p/w300' + image">
        </a>
      </div>
    </div>

    <div class="actor-movies"
         *ngIf="credit.actorMovies">
      <div class="sub-title">Actor movies</div>
      <div class="list">
        <portrait-component *ngFor="let actorMovie of credit.actorMovies"
                            (click)="onClickMovie(actorMovie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+actorMovie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && actorMovie.seen) || (list === 'collection' && !actorMovie.seen)}">
        </portrait-component>
      </div>
    </div>

    <div *ngIf="credit.actorSeries">
      <div class="sub-title">Actor series</div>
      <div class="list">
        <portrait-component *ngFor="let actorSerie of credit.actorSeries"
                            (click)="onClickSerie(actorSerie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+actorSerie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && actorSerie.seen) || (list === 'collection' && !actorSerie.seen)}">
        </portrait-component>
      </div>
    </div>

    <div class="director-movies"
         *ngIf="credit.directorMovies">
      <div class="sub-title">Director movies</div>
      <div class="list">
        <portrait-component *ngFor="let directorMovie of credit.directorMovies"
                            (click)="onClickMovie(directorMovie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+directorMovie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && directorMovie.seen) || (list === 'collection' && !directorMovie.seen)}">
        </portrait-component>
      </div>
    </div>

    <div *ngIf="credit.directorMovies">
      <div class="sub-title">Creator series</div>
      <div class="list">
        <portrait-component *ngFor="let creatorSerie of credit.creatorSeries"
                            (click)="onClickSerie(creatorSerie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+creatorSerie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && creatorSerie.seen) || (list === 'collection' && !creatorSerie.seen)}">
        </portrait-component>
      </div>
    </div>

  </div>

</div>