.main-component {
  .navigation-bar {
    z-index: 10;
    position: fixed;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.75);
    div {
      padding: 0 8px;
      font-size: 12px;
    }
    &.sub {
      top: 30px;
      height: 20px;
      border-bottom: 1px solid;
      div {
        padding: 0 8px;
        font-size: 12px;
      }
    }
  }
  .main-content {
    position: relative;
    padding: 0 10%;
    margin-top: 50px;
    &::before {
      z-index: -1;
      content: ' ';
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url('../../assets/bg.jpg');
      background-position: center center;
      background-size: cover;
      will-change: transform;
      transition: 1s ease;
      transform: scale(1.1);
    }
    .close-movie-details {
      float: right;
      margin-top: 20px;
      font-size: 20px;
    }
    .movie-poster {
      height: 175px;
      width: 120px;
      transition: 0.2s ease;
      border: solid 1px;
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: 10px;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
      &.movie-seen {
        opacity: 0.1;
        &:hover {
          opacity: 0.5;
        }
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
        vertical-align: middle;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
      }
    }
  }
}