<div id="movie-details" class="main-container">
  <div id="movie-background" class="parallax-container">
    <h1 id="movie-title">{{title}}</h1>
  </div>
  <div id="movie-details-panel" class="content-container">
  </div>
</div>

{{!-- style="background-image:url(images/waiting.png);" --}}