<div class="movie-bar">

  <movie-component class="movie-details-poster"
                   [movie]="movie"
                   [size]="500"></movie-component>

  <div class="movie-description">
    <h1>{{movie.title}}</h1>
    <div *ngIf="movie.title !== movie.originalTitle">({{movie.originalTitle}})</div>
    <div>{{movie.releaseDate}}</div>
    <div>{{movie.runtime}}</div>
    <div>{{movie.overview}}</div>
    <div class="link ib">
      <i class="fab fa-youtube"
         style="margin-right: 5px;"></i>
      <a class="link"
         [href]="movie.trailer"
         target="_blank">Watch trailer</a></div>

    <!-- <div class="list"
         *ngIf="movie.credits">
      <div class="movie-image"
           *ngFor="let credit of movie.credits">

        <img [src]="credit.profile_path ? 'https://image.tmdb.org/t/p/w185' + credit.profile_path : 'assets/no-profile.png'">
      </div>
    </div> -->
  </div>

</div>
<div>

  <div class="sub-title">Images</div>
  <div class="list">
    <div class="movie-image"
         *ngFor="let image of movie.images">
      <a [href]="'https://image.tmdb.org/t/p/original' + image.file_path"
         target="_blank">
        <img [src]="'https://image.tmdb.org/t/p/w300' + image.file_path">
      </a>
    </div>
  </div>

  <div class="collection-movies"
       *ngIf="movie.collectionMovies">
    <movie-list-component [listName]="'Collection movies'"
                          [listMovies]="movie.collectionMovies"></movie-list-component>
  </div>
  <div class="reco-movies"
       *ngIf="movie.recoMovies">
    <movie-list-component [listName]="'Similar movies'"
                          [listMovies]="movie.recoMovies"></movie-list-component>
  </div>
  <div class="director-movies"
       *ngIf="movie.directorMovies">
    <movie-list-component [listName]="'Director movies'"
                          [listMovies]="movie.directorMovies"></movie-list-component>
  </div>

</div>