<div *ngIf="loading">
  <spinner-component></spinner-component>
</div>

<div *ngIf="!loading">

  <div class="close-movie-details link"
       (click)="close()">
    <i class="fas fa-times"></i>
  </div>

  <div class="movie-bar">

    <movie-component class="movie-details-poster"
                     [movie]="movie"
                     [size]="500"></movie-component>

    <div class="movie-description">
      <div class="title-bar">
        <span class="title">{{movie.title}}</span>
        <span class="release-date "> {{movie.releaseDate}} </span>
        <span class="original-title"
              *ngIf="movie.title !== movie.originalTitle"> '{{movie.originalTitle}}' </span>
        <span>Directed by </span>
        <span class="link underline"
              (click)="onClickCredit(movie.director)">{{movie.director.name}}</span>
      </div>
      <div class="police-title fs-20">{{movie.tagLine}}</div>
      <div>{{movie.runtime}}</div>
      <div>{{movie.overview}}</div>

      <div class="link ib"
           *ngIf="movie.trailer">
        <i class="fab fa-youtube"
           style="margin-right: 5px;"></i>
        <a class="link"
           [href]="movie.trailer"
           target="_blank">Watch trailer</a></div>

      <div class="link ib"
           *ngIf="movie.imdbId">
        <i class="fab fa-imdb"
           style="margin-right: 5px;"></i>
        <a class="link"
           [href]="'https://www.imdb.com/title/'+ movie.imdbId"
           target="_blank">Go to IMDb</a></div>

    </div>

  </div>
  <div>
    <div class="sub-title">Casting</div>
    <div class="list credits"
         *ngIf="movie.credits">
      <portrait-component *ngFor="let credit of movie.credits"
                          [image]="'https://image.tmdb.org/t/p/w185' + credit.profile_path"
                          [title]="credit.name"
                          [topTitle]="credit.role"
                          (click)="onClickCredit(credit)">

      </portrait-component>

    </div>

    <div class="sub-title">Images</div>
    <div class="list">
      <div class="movie-image"
           *ngFor="let image of movie.images">
        <a [href]="'https://image.tmdb.org/t/p/original' + image.file_path"
           target="_blank">
          <img [src]="'https://image.tmdb.org/t/p/w300' + image.file_path">
        </a>
      </div>
    </div>

    <div class="collection-movies"
         *ngIf="movie.collectionMovies">
      <movie-list-component [listName]="'Collection movies'"
                            [listMovies]="movie.collectionMovies"></movie-list-component>
    </div>
    <div class="reco-movies"
         *ngIf="movie.recoMovies">
      <movie-list-component [listName]="'Similar movies'"
                            [listMovies]="movie.recoMovies"></movie-list-component>
    </div>
    <div class="director-movies"
         *ngIf="movie.directorMovies">
      <movie-list-component [listName]="movie.director.name+' movies'"
                            [listMovies]="movie.directorMovies"></movie-list-component>
    </div>

  </div>

</div>