<div class="movie-bar">

  <movie-component class="movie-details-poster"
                   [movie]="movie"
                   [size]="500"></movie-component>

  <div class="movie-description">
    <h1>{{movie.title}}</h1>
    <div *ngIf="movie.title !== movie.originalTitle">({{movie.originalTitle}})</div>
    <div>{{movie.releaseDate}}</div>
    <div>{{movie.runtime}}</div>
    <div>{{movie.overview}}</div>
  </div>

</div>
<div>

  <!-- <div class="sub-title">Images</div>
  <div class="movie-images">
    <div class="movie-image"
         *ngFor="let image of movie.images">
      <img [src]="'https://image.tmdb.org/t/p/w780' + image.file_path">
    </div>
  </div> -->

  <div class="collection-movies"
       *ngIf="movie.collectionMovies">
    <movie-list-component [listName]="'Collection movies'"
                          [listMovies]="movie.collectionMovies"></movie-list-component>
  </div>
  <div class="reco-movies">
    <movie-list-component [listName]="'Similar movies'"
                          [listMovies]="movie.recoMovies"></movie-list-component>
  </div>
  <div class="director-movies">
    <movie-list-component [listName]="'Director movies'"
                          [listMovies]="movie.directorMovies"></movie-list-component>
  </div>

  <!-- <div class="trailer">
    <div class="sub-title">Trailer</div>

    <iframe [src]="movie.trailer"
            frameborder="0"
            allowfullscreen></iframe>

  </div> -->

</div>