<div class="image">
  <portrait-component [image]="album.imageCover ? 'https://www.bedetheque.com/media/Couvertures/'+ album.imageCover : ''">
  </portrait-component>
</div>
<div class="info">
  <div class="line police-title fs-20">
    <span>{{album.albumNumber}} - {{album.albumTitle}}</span>
  </div>
  <div class="line fs-12">
    <span>{{album.date}}</span>
  </div>

  <div>
    <rating-component [voteAverage]="album.voteAverage"
                      [voteCount]="album.voteCount"
                      [voteMax]="100">
    </rating-component>
  </div>
  <div class="line">
    <i class="fas fa-file-alt"></i>
    <span class="link bold"
          (click)="onClickAuthor(album.scenario)">{{album.scenario}}</span>
  </div>
  <div class="line">
    <i class="fas fa-pencil-alt"></i>
    <span class="link bold"
          (click)="onClickAuthor(album.drawing)">{{album.drawing}}</span>
  </div>
  <div class="line fs-12">
    <span>Pages: </span>
    <span>{{album.nbrOfPages}}</span>
  </div>
</div>
