comic-album-component {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  width: fit-content;
  box-shadow: 0 0 10px black;
  border-radius: 3px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 200px;

  portrait-component {
    height: 100%;
    margin: 0;

    .portrait {
      box-shadow: none;
      border-radius: 3px 0px 0px 3px;
    }

  }

  .info {
    padding: 10px;

    .line {
      padding: 5px;

      i {
        width: 17px;
        font-size: 12px;
        vertical-align: 1px;
      }
    }


    rating-component {
      div {
        padding: 5px;
      }
    }


  }
}
