comic-album-component {
  display: flex;
  padding-top: 20px;

  portrait-component {
    width: initial;
    height: 300px;
    padding: 0;

    .portrait {
      img {
        width: initial;
      }
    }
  }

  .info {
    padding-left: 20px;

    .line {
      padding: 5px;

      i {
        width: 17px;
        font-size: 12px;
        vertical-align: 1px;
      }
    }


    rating-component {
      div {
        padding: 5px;
      }
    }


  }
}
