<search-component (onActivity)="checkActivity($event)"
                  [placeholder]="'Search Movies...'"
                  [type]="'movies'"></search-component>

<div *ngIf="!isSearching">
  <h1 *ngIf="list==='top_rated'">Top Rated Movies</h1>
  <h1 *ngIf="list==='popular'">Popular Movies</h1>
  <h1 *ngIf="list==='collection'">Collection Movies</h1>

  <div *ngIf="loading">
    <spinner-component></spinner-component>
  </div>

  <div class="button-group">
    <button *ngFor="let linkButton of linkButtons"
            [routerLink]="[linkButton.url]"
            mat-button
            routerLinkActive="active">
      <div>{{linkButton.title}}</div>
    </button>
  </div>

  <div (matSortChange)="sort($event)"
       class="button-group"
       matSort
       style="float: right">

    <button *ngFor="let sortButton of sortButtons"
            [ngClass]="{'active': sortActive === sortButton.key}"
            class="sort-button"
            mat-button>
      <span mat-sort-header="{{sortButton.key}}">{{sortButton.title}}</span>
    </button>

  </div>

  <div *ngIf="!loading">

    <h3 *ngIf="list==='collection'">{{sortedMovies.length}} movie(s) seen</h3>

    <div *ngIf="list === 'collection' && sortedMovies.length < 10"
         class="instructions">
      Discover or Search Movies and Cmd+Click or Ctrl+Click on a poster to add it to the collection.
    </div>

    <div *ngIf="sortedMovies"
         class="grid">
      <portrait-component (click)="utility.onClickMovie(movie, $event)"
                          *ngFor="let movie of sortedMovies"
                          [image]="'https://image.tmdb.org/t/p/w342'+movie.poster"
                          [ngClass]="{'seen' : (list !== 'collection' && movie.seen) || (list === 'collection' && !movie.seen)}">
        <div class="title-portrait">{{movie.title}}</div>
        <div>{{movie.releaseYear}}</div>
        <rating-component [voteAverage]="movie.voteAverage"
                          [voteCount]="movie.voteCount"
                          [voteMax]="10"></rating-component>
      </portrait-component>

    </div>

  </div>
</div>
