movies-component {
  h1 {
    text-align: center;
  }
  .movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 10px;
  }
  .movies-buttons {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
  }
}