html,
body {
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 8px #000000;
  font-family: 'Roboto', sans-serif;
  color: #f2f2f2;
  .ib {
    display: inline-block;
  }
  .tab {
    padding: 10px;
    font-size: 14px;
    user-select: none;
    &:hover {
      cursor: pointer;
      background-color: #ec3655;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    }
  }
  .link {
    user-select: none;
    &:hover {
      cursor: pointer;
      color: #ec3655;
    }
  }
  .cap {
    text-transform: capitalize;
  }
}

::-webkit-scrollbar {
  display: none;
}