@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$color-primary: #f2f2f2;
$color-secondary: #ec3655;
$color-border: rgba(255, 255, 255, 0.1);
$color-background: rgba(0, 0, 0, 0.1);

$font-primary:'Roboto',
sans-serif;
$font-secondary: 'Oswald',
sans-serif;



html,
body {
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  color: $color-primary;
  text-shadow: 1px 1px 1px black;
  background-color: #14181b;

  .ib {
    display: inline-block;
  }

  .link {
    user-select: none;
    color: inherit;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: $color-secondary;
    }
  }

  .link-active {
    color: $color-secondary;
  }

  .cap {
    text-transform: capitalize;
  }

  .float-right {
    float: right;
  }

  .police-title {
    font-family: $font-secondary;
  }

  .fs-20 {
    font-size: 20px;
  }

  .fs-12 {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.button-group {
  border-radius: 4px;
  background-color: $color-background;
  border: 1px solid $color-border;
  overflow: hidden;
  display: inline-block;

  button {
    border-radius: 0px;

    &.sort-button {
      padding: 0;

      .mat-sort-header-container {
        padding: 0 16px;
      }
    }



    &+button {
      border-left: 1px solid $color-border;
    }
  }
}

button {
  &.active {
    color: $color-secondary;

    .mat-sort-header-arrow {
      color: $color-secondary;
    }
  }
}

.buttons-space {
  display: flex;
}


a {
  color: inherit
}
