search-component {
  input {
    position: absolute;
    right: 10vw;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    border: 0;
    color: inherit;
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;

    &:focus {
      outline: solid 1px#ec3655;
    }
    &::placeholder {
      color: inherit;
      opacity: 0.5;
    }
  }
}
