@import "../../../../styles.scss";

search-component {

  .mat-form-field {
    position: absolute;
    right: 10vw;

    .mat-input-element {
      color: $color-primary;
      caret-color: $color-secondary;
    }
  }

  .mat-form-field-empty.mat-form-field-label {
    color: $color-primary;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: $color-secondary;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba($color: $color-primary, $alpha: 0.5);
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $color-secondary;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $color-border
  }

  .mat-form-field.mat-focused .mat-form-field-underline {
    background-color: $color-border;
  }

}
