<mat-form-field>
  <label>
    <input [(ngModel)]="search"
           (ngModelChange)='onChange()'
           matInput
           placeholder="{{placeholder}}">
  </label>
</mat-form-field>

<div *ngIf="search !== ''">
  <h1 *ngIf="type === 'movies'">Searching Movies</h1>
  <h1 *ngIf="type === 'series'">Searching TV Series</h1>
  <h1 *ngIf="type === 'paintings'">Searching Paintings</h1>

  <div *ngIf="loading">
    <spinner-component></spinner-component>
  </div>

  <div *ngIf="!loading">

    <div *ngIf="movies.length">
      <h3>Movies</h3>
      <div class="grid">
        <portrait-component (click)="onClickItem(movie, $event)"
                            *ngFor="let movie of movies"
                            [image]="'https://image.tmdb.org/t/p/w342'+ movie.poster"
                            [ngClass]="{'seen':movie.seen}">
          <div class="title-portrait">{{movie.title}}</div>
          <div>{{movie.releaseYear}}</div>
          <rating-component [voteAverage]="movie.voteAverage"
                            [voteCount]="movie.voteCount"
                            [voteMax]="10"></rating-component>
        </portrait-component>

      </div>
    </div>

    <div *ngIf="series.length">
      <h3>TV Series</h3>
      <div class="grid">
        <portrait-component (click)="onClickItem(serie, $event)"
                            *ngFor="let serie of series"
                            [image]="'https://image.tmdb.org/t/p/w342'+ serie.poster"
                            [ngClass]="{'seen':serie.seen}">
          <div class="title-portrait">{{serie.title}}</div>
          <div>{{serie.releaseYear}}</div>
          <rating-component [voteAverage]="serie.voteAverage"
                            [voteCount]="serie.voteCount"
                            [voteMax]="10"></rating-component>
        </portrait-component>

      </div>
    </div>

    <div *ngIf="credits.length">
      <h3>Credits</h3>
      <div class="grid">
        <portrait-component (click)="onClickItem(credit, $event)"
                            *ngFor="let credit of credits"
                            [image]=" credit.profile ? 'https://image.tmdb.org/t/p/w342'+ credit.profile : 'no_credit'">
          <div class="title-portrait">{{credit.name}}</div>
        </portrait-component>

      </div>
    </div>

    <div *ngIf="paintings.length">
      <h3>Paintings</h3>
      <div class="grid portrait-grid">
        <portrait-component (click)="onClickItem(painting, $event)"
                            *ngFor="let painting of paintings"
                            [image]="painting.imageLQ ? painting.imageLQ : null"
                            [ngClass]="{'seen' :painting.seen}">
          <div class="title-portrait">{{painting.artistName}}</div>
          <div>{{painting.year}}</div>
          <div class="title-portrait">{{painting.title}}</div>
        </portrait-component>

      </div>
    </div>

    <popup-art-component (onClose)="popupPainting = null"
                         *ngIf="popupPainting"
                         [painting]="popupPainting"
                         [paintings]="paintings"></popup-art-component>

  </div>

</div>
