<input type="text"
       placeholder="{{placeholder}}"
       [(ngModel)]="search"
       (ngModelChange)='onChange()'>

<div *ngIf="search !== ''">
  <h1 *ngIf="type === 'movies'">Searching Movies</h1>
  <h1 *ngIf="type === 'series'">Searching TV Series</h1>
  <h1 *ngIf="type === 'paintings'">Searching Paintings</h1>

  <div *ngIf="loading">
    <spinner-component></spinner-component>
  </div>

  <div *ngIf="!loading">

    <div *ngIf="movies.length">
      <h3>Movies</h3>
      <div class="grid">
        <portrait-component *ngFor="let movie of movies"
                            (click)="onClickItem(movie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+ movie.poster"
                            [ngClass]="{'seen':movie.seen}">
        </portrait-component>

      </div>
    </div>

    <div *ngIf="series.length">
      <h3>TV Series</h3>
      <div class="grid">
        <portrait-component *ngFor="let serie of series"
                            (click)="onClickItem(serie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+ serie.poster"
                            [ngClass]="{'seen':serie.seen}">
        </portrait-component>

      </div>
    </div>

    <div *ngIf="credits.length">
      <h3>Credits</h3>
      <div class="grid">
        <portrait-component *ngFor="let credit of credits"
                            (click)="onClickItem(credit, $event)"
                            [image]=" credit.profile ? 'https://image.tmdb.org/t/p/w185'+ credit.profile : 'no_credit'"
                            [title]="credit.name">
        </portrait-component>

      </div>
    </div>

    <div *ngIf="paintings.length">
      <h3>Paintings</h3>
      <div class="grid portrait-grid">
        <portrait-component *ngFor="let painting of paintings"
                            [ngClass]="{'seen' :painting.seen}"
                            [image]="painting.image ? painting.image + '!PinterestSmall.' + painting.extension : null"
                            (click)="onClickItem(painting, $event)">
        </portrait-component>

      </div>
    </div>

    <popup-art-component *ngIf="popupPainting"
                         [paintings]="paintings"
                         [painting]="popupPainting"
                         (onClose)="popupPainting = null"></popup-art-component>

  </div>

</div>