<div *ngIf="loading">
  <spinner-component></spinner-component>
</div>

<div *ngIf="!loading"
     class="details">

  <div class="close-movie-details link"
       (click)="close()">
    <i class="fas fa-times"></i>
  </div>

  <div class="details-bar">
    <portrait-component [image]="'https://image.tmdb.org/t/p/w500' + movie.poster"></portrait-component>
    <div class="description">
      <div class="title-bar">
        <span class="title">{{movie.title}}</span>
        <span class="release-date "> {{movie.releaseYear}} </span>
        <span class="original-title"
              *ngIf="movie.title !== movie.originalTitle"> '{{movie.originalTitle}}' </span>
        <span>Directed by </span>
        <span class="link underline"
              (click)="utility.onClickCredit(movie.director)">{{movie.director!.name}}</span>
      </div>
      <div class="police-title fs-20">{{movie.tagLine}}</div>
      <div>{{movie.releaseDate | date : 'MMMM d, y'}}</div>
      <div>{{movie.runtime}}</div>
      <div>{{movie.overview}}</div>

      <div class="link ib"
           *ngIf="movie.trailer">
        <i class="fab fa-youtube"
           style="margin-right: 5px;"></i>
        <a class="link"
           [href]="movie.trailer"
           target="_blank">Watch trailer</a></div>

      <div class="link ib"
           *ngIf="movie.imdbId">
        <i class="fab fa-imdb"
           style="margin-right: 5px;"></i>
        <a class="link"
           [href]="'https://www.imdb.com/title/'+ movie.imdbId"
           target="_blank">Go to IMDb</a></div>

      <rating-component [voteAverage]="movie.voteAverage"
                        [voteCount]="movie.voteCount"></rating-component>

    </div>

  </div>
  <div>
    <div class="sub-title">Casting</div>
    <div class="list credits"
         *ngIf="movie.credits.length">
      <portrait-component *ngFor="let credit of movie.credits"
                          [image]="credit.profile? 'https://image.tmdb.org/t/p/w185' + credit.profile : 'no_credit'"
                          [title]="credit.name"
                          [topTitle]="credit.role"
                          (click)="utility.onClickCredit(credit)">

      </portrait-component>

    </div>

    <div *ngIf="movie.images.length">
      <div class="sub-title">Images</div>
      <div class="list">
        <div class="image"
             *ngFor="let image of movie.images">
          <a [href]="'https://image.tmdb.org/t/p/original' + image"
             target="_blank">
            <img [src]="'https://image.tmdb.org/t/p/w300' + image">
          </a>
        </div>
      </div>

    </div>

    <div class="collection-movies"
         *ngIf="movie.collectionMovies.length">
      <div class="sub-title">Collection movies</div>
      <div class="list">
        <portrait-component *ngFor="let collectionMovie of movie.collectionMovies"
                            (click)="utility.onClickMovieDetails(collectionMovie, movie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+collectionMovie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && collectionMovie.seen) || (list === 'collection' && !collectionMovie.seen)}">
        </portrait-component>
      </div>
    </div>
    <div class="reco-movies"
         *ngIf="movie.recoMovies.length">
      <div class="sub-title">Similar movies</div>
      <div class="list">
        <portrait-component *ngFor="let recoMovie of movie.recoMovies"
                            (click)="utility.onClickMovieDetails(recoMovie, movie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+recoMovie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && recoMovie.seen) || (list === 'collection' && !recoMovie.seen)}">
        </portrait-component>
      </div>
    </div>
    <div class="director-movies"
         *ngIf="movie.directorMovies.length">
      <div class="sub-title">{{movie.director!.name}} movies</div>
      <div class="list">
        <portrait-component *ngFor="let directorMovie of movie.directorMovies"
                            (click)="utility.onClickMovieDetails(directorMovie, movie, $event)"
                            [image]="'https://image.tmdb.org/t/p/w185'+directorMovie.poster"
                            [ngClass]="{'seen' : (list !== 'collection' && directorMovie.seen) || (list === 'collection' && !directorMovie.seen)}">
        </portrait-component>
      </div>
    </div>
  </div>

</div>